<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #b3159b">
        <div><a href="http://localhost:8080/" class="navbar-brand"> User Management App </a></div>
    </nav>
</header>
<br>
<div class="container col-md-5">
    <div class="card">
        <div class="card-body">

            <div th:if="${param.error}">

                <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                    Invalid username and password.
                </div>

            </div>
            <form action="/login" method="post">
                <caption>
                    <h2>
                        Please sign in to your account
                    </h2>
                </caption>

                <fieldset class="form-group">
                    <label>User Login</label> <input type="text" class="form-control"
                                                     name="username" required="required"> </fieldset>
                <fieldset class="form-group">
                    <label>User Password</label> <input type="password" class="form-control"
                                                   name="password" required="required"></fieldset>
                <button type="submit" class="btn btn-success">Login</button>

            </form>
        </div>
    </div>
</div>
</body>
</html>